# //registry.npmjs.org/:_authToken=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
# registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/